
.FormGrid { border: solid 1px #006697;  margin: 0 0 15px 0; }
.DataGrid { border:none; margin: 0 0 15px 0; }
.FormGrid td, .DataGrid td {  padding:  3px; }

#Histogram td {
  vertical-align: bottom;
  padding: 1px;
  margin:  0 0 0 0;
  white-space: nowrap;
}

#Loader { position: absolute; left: 0; top: 0; background-color: red;}


body {font-family : Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva,  Sans-serif;}


table, font, p { font-size: 1em; }

.clsDataGridTitleSection { background: #000; color: #fff; font-weight: bold;  
	                   margin: 0 0 0 0; }
.clsDataGridTitle { background: #69c; color: #fff; font-weight: bold;} 
.clsDataGridInfoTextSection { background: #fff; }
.clsDataGridInfoText { background: #eee; }
.clsDataGridHeader { background: #e0e0e0;  font-weight: bold; border: none;}
.clsDataGridSummary { background: #eee; }
.clsDataGridData { background: #e0e0e0; }
.clsDataGridNoData { background: #eee; }
.clsDataGridSep { background: #ccc; height: 5px;  border: none; margin: 0 0 0 0; padding: 0 0 0 0;}

.clsFormGridTitle{ background: #69c; color: #fff; font-weight: bold;} 
.clsFormGridInfoText { background: #ddd; }
.clsFormGridReqdMsg { font-style: italic;  background: #ddd;}
.clsFormGridErrorMsg { background: #ddd; }
.clsFormGridHeader { background:  #ddd; color: #000; font-weight: bold;}    
.clsFormGridHeader2 { background:  #96c; color: #fff; font-weight: bold;}
.clsFormGridMessage { background: #ddd; }
.clsFormGridButton { background: #ddd; }
.clsFormGridReqErr { width: 20px;  background: #ddd;}
.clsFormGridReqErr img { top: 4px; margin-right: 3px; background: #ddd; }
.clsFormGridLabel { white-space: nowrap; background: #ddd; }
.clsFormGridInput  { background: #ddd; }
.clsFormGridLabelViewOpt { background: #fff; font-weight: bold;}
.clsFormGridButtonViewOpt  { background: #fff; } 
.clsFormGridInputViewOpt { background: #fff; }

.clsFreeText  { background: #fff; }
.clsFreeTextCalloutTitle{ background: #69c; color: #fff; font-weight: bold;} 
.clsFreeTextCalloutBody  { background: #fff; border: solid 1px #000; }
table.FormGridViewOpt td.clsFormGridTitle {
               background: #fff; color: #69c; 
               font-weight: bold; border: solid 1px #eee;
              }
table.FormGridViewOpt td { padding: 3px;}
table.FormGridViewOpt { border: solid 1px #eee; }

.clsIntro{ background: #fff; color: #444; padding: 3px; font-size: 12px; margin: 5px 0 0 0;  border: solid 1px #eee; line-height: 15px;}
.tranNav{  background: #eee; color: #444; padding: 5px 3px; margin: 0 0 10px 0;  font-size: 12px; height: 15px; font-weight: bold;}
.clnm {font-size: 10pt; font-weight: bold; color:#444;}



@media print {
#SideMenu,#TopMenu,#SecondaryContent,.clsIntro,.tranNav { visibility: hidden; display: none;}
}

@media all {

 body { font-size: 10pt; margin: 0; padding: 0; border: none;
        background-color: #fff; 
       } 

 html, body, #MainFrame { height: 100%; width: 100%; padding: 0; margin: 0;}

#MainFrame { border: 5px solid #fff; vertical-align: top;}

#Header,#HeaderNoSide { padding: 0; margin: 0; vertical-align: top; height: 99px;}
#HeaderNoSide { height: 29px;}
 
#Footer { vertical-align: bottom; } 

#Disclaim {font-size: .7em;}
#Legend {font-size: .7em;}
.regb { border-style: groove; background-color:#eeeefe; color:blue; width: 60px; cursor:pointer; } 
.rega { border-style: groove; background-color:#eeeefe; color:blue; width: 20px; font-size: 11px; cursor:pointer; } 
.msgs, .msge, .msgw, .msgi { border: 1px solid; margin: 10px 0px; padding:15px 10px 15px 50px; 
 background-repeat: no-repeat; background-position: 10px center; }
.msgs { color: #481; background-color: #dfb; background-image:url('notification_done.gif'); }
.msge { color: #c33; background-color: #fbb; background-image:url('notification_error.gif'); }
.msgw { color: #481; background-color: #fdb; background-image:url('notification_warning.gif'); }
.msgi { color: #481; background-color: #bdf; background-image:url('message.gif'); }
.err { color: #c33; background-image:url('notification_error.gif'); 
       background-repeat: no-repeat; background-position: 5px center; 
       margin: 0px; padding:5px 5px 5px 28px;  }
.req { background-image:url('formRequired.gif'); 
       background-repeat: no-repeat; background-position: 5px center; 
       margin: 0px; padding:5px 5px 5px 28px; }
.number { border: 0; color:#8af; cursor:pointer;  font-size: 90%;  margin: 0px; padding:2px;
	  background-color: #fff; font-weight: bold; } 
.hint { font-size: 65%; text-align: right; color: black; }
.navb { background-color:#eef; cursor:pointer;  color: #037;}
.navb a {text-decoration: none; white-space: nowrap;  padding: 3px; border: 2px outset; color: #037;}
.grd {width: 50px;}
}

@media screen {
#TopMenu {  background-color: #eee; color: #333; padding: 5px 3px; margin: 0;  font-size: 12px; height: 15px;
         }

#TopMenu span {
	        text-align:right; float:right; color: #333;  width: 100%;
	        background-color: #eee; line-height: 15px;
               } 

#TopMenu span a { color: #033; text-decoration: none; }  
#TopMenu span a:hover { color: #037; text-decoration: underline; font-weight: bold; }

#Banner { position: relative;  height: 45px;
          margin: 0; padding: 0; 
        }
#Logo { background-image: url(cu-logo.gif); background-position:  2px 10px; 
        background-repeat: no-repeat; width: 210px; height: 45px; float: left;
	margin: 0 0 0 0;  vertical-align:text-bottom; 
      }

#AppName { position: absolute; right: 0; bottom: 0;
	   text-align:right; font-weight: 400; 
           font-size: 38px; color: #69c;  line-height: 35px; 
 	   text-transform: uppercase; letter-spacing: -2px; 
	   padding: 0 3px 0 0; margin: 0 0 0 0;  white-space:nowrap;
         }

#TranName, #TranNameNoSide { position: relative; 
     color: #fff; background-color: #666; text-align: left;
     margin: 0 0 0 0; 
     border-right: solid 175px #ccc; line-height: 29px; font-size: 25px;
     vertical-align: middle; text-transform: uppercase; background-image:
     url(section-title-arrow.gif); 
     background-repeat: no-repeat; }

#TranName { background-position:  144px 0;  
            padding: 0 0 0 161px;  margin: 0 0 0 0;
          }
#TranNameNoSide  { background-position:  0 0;  padding: 0 0 0 20px;}

#MainMenu ul, #MainMenu li { list-style: none; margin: 0 0 0 0; 
                             padding: 0 0 0 5px; color:#037;
                           }

#MainMenu ul { padding: 0 0 10px 5px;}

#MainMenu td { margin: 0; padding: 3px; }

#SideMenu {padding: 0 0 0 0;  vertical-align: top;
           margin: 0 0 0 0; width: 144px; 
           font-size: 1em; min-height: 200px; height: auto;
           border-bottom: solid 20px #fff; 
           }

#SideMenu ul { list-style: none; font-weight: bold; margin: 0 0 0 0;
                 padding: 0 0 0 0; width: 144px; }
#SideMenu h4 { margin: 0 0 0 0; padding: 0 0 0 0; font-size: 1em;}
#SideMenu li { list-style: none; margin: 0 0 0 0; 
               padding: 10px  5px 5px  15px;
               border-bottom: dashed 1px #ccc; color:#037; 
               font-size: .8em; }                  

#SideMenu a { text-decoration: none;}

#SideMenu a:hover{ text-decoration: underline; color: #037; }

#SideMenu li ul { list-style: none; margin: 0 0 0 0; padding: 0 0 0 0; width: auto;}

#SideMenu li ul li {
                    padding: 3px 0 3px 10px;
                    border-bottom: none;
                    margin: 0 0 0 0;
                    font-size: .95em;
                    font-weight: bold; 
                   }

li a:link, li a:hover, li a:visited, li a:active { color: #273; }
.tranNav a, .clsIntro a {color: #273;} .tranNav a:hover, .clsIntro a:hover { text-decoration: underline; color: #037;  font-weight: bold;}

img { margin: 0 0 0 0; padding: 0 0 0 0; vertical-align: bottom; display: block; }
.FormGrid img {display: inline;}

br { display: block; height: 0; line-height: 0; padding: 0 0 0 0; margin: 0 0 0 0;}

#Content { padding: 15px 10px 10px 20px; vertical-align: top; 
           text-align: left; margin: 0 0 0 0; } 

#DataStatus { padding: 20px 10px 5px 0;
	      text-align: left;
	      border-bottom: solid 10px #ccc;
	      font-size: .9em; 
	      white-space:nowrap;
	      }


.clsDataGridTitle>a, .clsFormGridTitle>a {color: #fff; }


#MainFrame td { margin: 0 0 0 0; }

#SecondaryContent { z-index: 1; }  
td#SecondaryContent {
           vertical-align: top;
           width: 175px;
           padding: 0 0 0 0;
           margin: 0 0 0 0;
           font-size: .8em;
        }
#MoodImage {	   
           vertical-align: top;
           background-image: url(default-mood.jpg); 
           background-repeat: no-repeat;
           height: 105px;
           padding: 0 0 0 0;
           margin: 0 0 0 0;
        }

#SidebarR {
  border: solid 1px #ccc;
  padding: 0 0 5px 0px;
  list-style: none;
}

#SidebarR h4 {
  font-weight: bold; color:#037;
  margin: 0 0 0 0;
  padding: 5px 0 5px 15px;
  text-align: left;
  font-size: 11px;
  background: #eee;
}


#SidebarR ul {
  list-style: none;
  margin: 0 0 0 0;
  padding: 7px 0 7px 15px;
  border-top: solid 1px #ccc;
  background: #fff;
  text-align: left;
}


#SidebarR ul li {
  list-style: none; font-weight: bold; color:#037;
  background-image: url(e-link-bullet.gif);
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 5px;
  padding: 0 0 0 10px;
  font-weight: bold;
  font-size: 11px;
}

#SidebarR a {
  text-decoration: none;
}

#SidebarR a:hover{ text-decoration: underline; color: #037; }

}
